/* css soft reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* se a tela tiver pelo menos 400px esses estilos serão carregados*/
@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
    nav {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 22px;
    }
}

header {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(225deg, #fdfbfb, #ebedee);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

a {
    text-decoration: none;
}

.menu {
   background-color: white;
   position: fixed;
   width: 100vw;
   top: 0;
   z-index: 1;
}

.menu a {
    display: block;
    padding: 10px 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: darkslategrey;
}

.menu a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.titulo {
    transform: translateY(10vh);
    opacity: 0;
    animation: linear 1s animTitle forwards;
}

@keyframes animTitle {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.site-title,
.site-subtitle {
    text-align: center;
}

.site-title {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.site-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.8em;
}

.sobre,
.portfolio,
.contato {
    height: 100vh;
    padding: 2em;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre h2,
.portfolio h2,
.contato h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sobre .avatar {
    margin-bottom: 50px;
}

.sobre .avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
    border-radius: 50%;
}

@media (min-width: 1000px) {
    .sobre .avatar {
        margin-right: 2em;
        float: left;
    }
    .sobre .avatar img {
        width: 300px;
        height: auto;
    }
}

.sobre p {
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 0.85em;
}

.sobre a {
    color: darkslategray;
    text-decoration: none;
}

.sobre a:hover {
    text-decoration: underline;
}

.portfolio figure {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 0em;
}

.portfolio .grid {
    display: grid;
    gap: 1em;
    justify-content: center;
}

.img-portfolio {
    height: 360px;
    width: 360px;
    object-fit: contain;
    transition: transform 450ms;
}

.img-portfolio:hover {
    transform: scale(1.05);
}

.img-portfolio:active {
    transform: scale(1.05);
}

@media (min-width: 760px) {
    .img-portfolio {
        height: 480px;
        width: 480px;
    }
}

@media (min-width: 920px) {
    .img-portfolio {
        height: 360px;
        width: 360px;
    }
    .portfolio .grid {
        grid-template-columns: repeat(3,360px);
    }
}

@media (min-width: 1920px) {
    .portfolio .grid {
        gap: 3em;
    }
}

.contato .icons {
    text-align: center;
    padding: 1em;
}

.contato a {
    color: black;
    font-size: 3em;
    transition: text-shadow 1s;
}

.contato a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 13px rgba(168, 168, 168,.7);
}

.contato a:active {
    text-decoration: none;
    text-shadow: 2px 2px 13px black;
}
